<section>
    <p>What makes <strong>unavailable.it</strong> better than the million other similar sites?</p>
    <div class="list">
        <div class="expandable" ng-click="encryptedAtRest=!encryptedAtRest">
            <i class="fa" ng-class="{'fa-chevron-right': !encryptedAtRest, 'fa-chevron-down': encryptedAtRest}"></i>
            Messages are encrypted at rest.
            <div class="expanded-div" ng-if="encryptedAtRest">
                <p>
                    All messages are stored in our database and encrypted with a key that only you have (your url).
                    <strong>We don't retain the key for your message</strong>.
                    This means that if anybody gains access to our database, whether through hacking, legal supoena,
                    blackmail, etc, then your message is still secure.  We couldn't decrypt it even if we wanted to.
                </p>
            </div>

        </div>
        <div class="expandable" ng-click="itsOpenSource=!itsOpenSource">
            <i class="fa" ng-class="{'fa-chevron-right': !itsOpenSource, 'fa-chevron-down': itsOpenSource}"></i>
            It's open source.
            <div class="expanded-div" ng-if="itsOpenSource">
                <p>
                    <a href="https://github.com/parrisvarney/unavailable.it">Anybody can download the source code and
                        verify it's secure.</a>
                </p>
                <p>
                    Don't trust us with your data?  You shouldn't.  That's why this site is completely open source
                    including Dockerfiles and build files.  All you need is a computer that can serve HTTP
                    and you can run this site on your own.
                </p>
            </div>
        </div>
        <div class="expandable" ng-click="itsFree=!itsFree">
            <i class="fa" ng-class="{'fa-chevron-right': !itsFree, 'fa-chevron-down': itsFree}"></i>
            It's free!
            <div class="expanded-div" ng-if="itsFree">
                <p>
                    One day we might have a paid "premium" service, but we don't now, and the core service will
                    always be free.
                </p>
                <p>
                    We'll start talking premium services if the site ever becomes a financial burden to maintain.
                </p>
            </div>
        </div>
    </div>

    <div class="center-text">
        <button class="uit-button" ui-sref="dashboard.new-message">Lets Go</button>
    </div>
</section>
