<div>
    <form>
        <h4>
            Enter a message in the textarea below, and a one time use URL will be generated.
        </h4>
        <textarea id="new-message-textarea" placeholder="The crow flies at dawn..." ng-model="messageBody"></textarea>
        <div class="center-text button-div">
            <button type="button" class="uit-button" ng-click="vm.saveNewMessage(messageBody)">Submit.</button>
            <button type="button" class="uit-button-cancel" ng-click="vm.restart()">Go Back.</button>
        </div>
    </form>
</div>
